@using mvc_project.Models


@{
    var myCars = ViewBag.MyCars;
}

<div style="background-color:#fff3e6 ;">
<h2>List of make(s) and model(s)</h2>

<ul>
    @foreach(Car car in myCars){
        <li>@car.Year - @car.Make - @car.Model, @car.Color @car.EngineSize @car.DriveTrain @car.BodyStyle</li>
    }
</ul>


</div>